<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My first blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 02.07.2023, 23:00</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first blog. I created it in Django</p>
        </div>

        <div>
            <p>published: 02.07.2023, 23:10</p>
            <h2><a href="">My second post</a></h2>
            <p>I'm learning Python, learning web development</p>
        </div>

    </body>
</html>